<br>
<br>
<h1 class="welcome">Welcome To  the FilmStock DVD Shop Inventory</h1>
<br>
<br>
<h3>Use the Navigation Options at the top of the screen to choose what you would like to do</h3>

<h4>Select either Film, Director or Production Company to view every instance
of each category in the database.</h4>
<h4>Select Add to add a new instance of a category to the database.</h4>
<h4>Within a category index click on the name or title of an instance to view
its individual information.</h4>
