<!DOCTYPE html>
<html>
<head>
  <title>Film Shop</title>
</head>
<body>
  <nav>
    <%= yield %>
    <br>
    <br>
    <hr>
    <ul style="list-style: none;">
      <li>
        <h3 style="text-align:center;" ><a href="/">Home</a></h3>
      </li>
      <li>
        <h3 style="text-align:center;"><a href="/films">Films</a></h3>
      </li>
      <li>
        <h3 style="text-align:center;"><a href="/production-company">Production Companies</a></h3>
      </li>
    </ul>
  </nav>

</body>
</html>
