<!DOCTYPE html>
<html>
<head>
  <title>Film Shop</title>
  <link rel="stylesheet" type="text/css" href="/styles/colour.css">
</head>
<body style="text-align:center;">
  <nav>
    <%= yield %>
    <br>
    <br>
    <hr>
    <ul style="list-style: none;">
      <li>
        <h3><a href="/">Home</a></h3>
      </li>
      <li>
        <h3><a href="/films">Films</a></h3>
      </li>
      <li>
        <h3><a href="/production-company">Production Companies</a></h3>
      </li>
    </ul>
  </nav>

</body>
</html>
