<!DOCTYPE html>
<html>
<head>
  <title>Film Shop</title>
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body style="text-align:center;" class="wholepage">
  <nav>
    <ul class="header_list">
      <li class="header_items">
        <h3><a class="header_links" href="/">Home</a></h3>
      </li>
      <li class="header_items">
        <h3><a class="header_links" href="/films">Films</a></h3>
      </li>
      <li class="header_items">
        <h3><a class="header_links" href="/production-company">Production Companies</a></h3>
      </li>
      <li class="header_items">
        <h3><a class="header_links" href="/directors">Directors</a></h3>
      </li>
      <li class="header_items">
        <h3><a class="header_links" href="/films/new">Add New Film</a></h3>
      </li>
      <li class="header_items">
        <h3><a class="header_links" href="/production-company/new">Add New Production Company</a></h3>
        </li>
        <li class="header_items">
          <h3><a class="header_links" href="/directors/new">Add New Director</a></h3>
      </li>
    </ul>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
<%= yield %>
<br>
<br>
</body>
</html>
