<h2>Add A Director</h2>
<form method="POST" action="/directors">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Add Director"/>
    </div>

  </div>
</form>
