.header_list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(220, 240, 220);
  position: absolute;
  border: 1px rgb(210, 210, 210);
}

.header_items{

  list-style-type: none;
  border-right: 1px solid rgb(210, 210, 210);
  float: left;
  display: block;
  padding: 2px 26px;
}

.wholepage{
background-color: rgb(98, 150, 112);
}

.header_links{
display: block;
padding: 5px;
text-decoration: none;
color: rgb(200, 200, 200);
}

.header_items, .header_links:hover {
  background-color: rgb(60, 60, 60);
  color: white;
}

.welcome {
  font-size: 45px;
}

.green {
  color: rgb(220, 240, 220);
}

.red {
  color: red;
}

.orange{
  color: orange;
}

hr {
  width: 50% ;
}

a {
  color: white;
  text-decoration: none
}

form {
  margin: 0 auto;
  width: 200px;
  font-size: 20px
}

input {
  font-size: 15px;
}

body {
  background: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

input {
  border-radius: 10px;
  border: 1px black;
}
