<h2>Edit <%= @production_company.name %></h2>
<form method="POST" action="/production-company/<%= @production_company.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= @production_company.name %>"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Confirm Changes"/>
    </div>

  </div>
</form>
