<h2>Production Companies</h2>

<% for production_company in @production_companies %>
  <br>
  <h3 style="text-align:center;"> Production Company Name: <%= production_company.name %> </h3>
  <br>
  <hr>
<% end %>
